<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="61a3d3">  <td>21/01/11 15:55:06</td>   <td>0</td> <td title="&gt;&gt;ExtentReport.reportSetup()[pri:0, instance:test.Login@80503]">&gt;&gt;reportSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295083508</td>   <td></td> </tr>
<tr bgcolor="b36d79">  <td>21/01/11 15:55:06</td>   <td>198</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup()[pri:0, instance:test.Login@80503]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295083508</td>   <td></td> </tr>
<tr bgcolor="a5fe93">  <td>21/01/11 15:55:22</td>   <td>16647</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.AcceptAlert()[pri:0, instance:test.Login@80503]">AcceptAlert</td> 
  <td>main@1295083508</td>   <td></td> </tr>
<tr bgcolor="a5fe93">  <td>21/01/11 15:55:24</td>   <td>18187</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.SelectLanguage()[pri:1, instance:test.Login@80503]">SelectLanguage</td> 
  <td>main@1295083508</td>   <td></td> </tr>
<tr bgcolor="a5fe93">  <td>21/01/11 15:55:25</td>   <td>19648</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.EnterMobileNumber()[pri:2, instance:test.Login@80503]">EnterMobileNumber</td> 
  <td>main@1295083508</td>   <td></td> </tr>
<tr bgcolor="a5fe93">  <td>21/01/11 15:55:28</td>   <td>22654</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.EnterOTP()[pri:3, instance:test.Login@80503]">EnterOTP</td> 
  <td>main@1295083508</td>   <td></td> </tr>
<tr bgcolor="a5fe93">  <td>21/01/11 15:55:58</td>   <td>52380</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.EnterPin()[pri:4, instance:test.Login@80503]">EnterPin</td> 
  <td>main@1295083508</td>   <td></td> </tr>
<tr bgcolor="a5fe93">  <td>21/01/11 15:56:10</td>   <td>63831</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.HomeScreen()[pri:5, instance:test.Login@80503]">HomeScreen</td> 
  <td>main@1295083508</td>   <td></td> </tr>
<tr bgcolor="9168bc">  <td>21/01/11 15:56:12</td>   <td>65837</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthScore.HomeScreen_HealthScore()[pri:1, instance:test.HealthScore@4b553d26]">HomeScreen_HealthScore</td> 
  <td>main@1295083508</td>   <td></td> </tr>
<tr bgcolor="9168bc">  <td>21/01/11 15:56:23</td>   <td>76977</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthScore.lifestylescoremind()[pri:2, instance:test.HealthScore@4b553d26]">lifestylescoremind</td> 
  <td>main@1295083508</td>   <td></td> </tr>
<tr bgcolor="9168bc">  <td>21/01/11 15:56:24</td>   <td>78126</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthScore.addsleepdata()[pri:3, instance:test.HealthScore@4b553d26]">addsleepdata</td> 
  <td>main@1295083508</td>   <td></td> </tr>
<tr bgcolor="9168bc">  <td>21/01/11 15:56:30</td>   <td>84252</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthScore.addcalmnessdata()[pri:4, instance:test.HealthScore@4b553d26]">addcalmnessdata</td> 
  <td>main@1295083508</td>   <td></td> </tr>
<tr bgcolor="9168bc">  <td>21/01/11 15:56:33</td>   <td>86794</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthScore.deletemindscore()[pri:5, instance:test.HealthScore@4b553d26]">deletemindscore</td> 
  <td>main@1295083508</td>   <td></td> </tr>
<tr bgcolor="9168bc">  <td>21/01/11 15:56:34</td>   <td>87994</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthScore.deletSleepcore()[pri:6, instance:test.HealthScore@4b553d26]">deletSleepcore</td> 
  <td>main@1295083508</td>   <td></td> </tr>
<tr bgcolor="b36d79">  <td>21/01/11 15:56:40</td>   <td>93749</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:test.Login@80503]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295083508</td>   <td></td> </tr>
<tr bgcolor="61a3d3">  <td>21/01/11 15:56:46</td>   <td>99887</td> <td title="&lt;&lt;ExtentReport.reportTearDown()[pri:0, instance:test.Login@80503]">&lt;&lt;reportTearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1295083508</td>   <td></td> </tr>
</table>
