<h2>Methods that were not run</h2><table>
<tr><td>test.HealthScore.deletCalmnessscore</td></tr>
<tr><td>test.ExtentReport.reportTearDown</td></tr>
<tr><td>test.BaseClass.setup</td></tr>
<tr><td>test.ExtentReport.reportSetup</td></tr>
<tr><td>test.BaseClass.tearDown</td></tr>
<tr><td>test.HealthScore.resetall</td></tr>
</table>